@import "tailwindcss";

@theme {

    /*color*/
    --color-primary: #738df7;

    /*media*/
    --breakpoint-ssm: 25rem;
}

@layer components {
    .scrollbar-custom {
        scrollbar-width: thin;
        scrollbar-color: #2563eb #f1f5f9;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: black;
    }
}